<!-- GROUPS -->
<h1>Create group</h1>
<p>
	<strong>User:</strong> <%= @user.email %> 
</p>

<%= form_for @group do |f|%>
	<p>
		<%= f.label :Name %>
		<%= f.text_field :name %>
		<%= f.submit "Create"%>
	</p>
<% end %>
<p>
	<%= link_to 'Back', user_path(@user)%>
</p>