<!-- GROUPS -->
<p>
	user: <%= @user.email %> 
</p>
<strong>Create group</strong>
<%= form_for @group do |f|%>
	<p>
		<%= f.label :Name %>
		<%= f.text_field :name %>
	</p>
	<%= f.submit "Create"%>
<% end %>