<!-- GROUPS -->
<h1>Forum</h1>
<p>
	<strong>User:</strong> <%= @user.email%><br>
	<strong>Group:</strong> <%= @group.name %>
</p>
<p>
	<strong>Groups:</strong> 
	<%= render @group.comments %>
</p>
<p>
	<%= render 'comments/form' %>
</p>
<p>
	<%= link_to 'Back', user_path(@user)%>
	<%= raise %>
</p>
