<!-- USERS -->

<h2>Sign up / Login</h2>
<%= form_for @user do |f| %>
	<p>
		<%= f.label :Email%> 
		<%= f.text_field :email%>
	</p>
	<% if @user.errors.any? %>
		<h3><%= pluralize(@user.errors.count, "error")%></h3>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	<p>
		<%= f.submit "Login" %>
	</p>
<% end %>
